# You need rename this file. mv template.env .env
# A name for this Docker Compose application, it can be whatever you like
COMPOSE_PROJECT_NAME=jupyterhub

# The server where this JupyterHub server is hosted
HOST=jupyter.ens.uvsq.fr
OAUTH_CALLBACK_URL=xxxxx
OAUTH_CLIENT_ID=xxxxx
OAUTH_CLIENT_SECRET=xxxxx
